/* your code here */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: black;
  color: white;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

.media-icons i {
  font-size: 25px;
  padding: 5px;
  background-color: rgb(225, 255, 0);
  border-radius: 50%;
}

.link-boxes {
  display: flex;
  justify-content: space-around;
}

.link-boxes .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-boxes .box a {
  text-decoration: none;
  color: white;
}

.bottom-details {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  background-color: rgb(31, 29, 29);
  margin-top: 30px;
}
